.footer {
    background: #1a242f; /* Secondary Color */
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Font Primary */
    flex-direction: column;
  }
  